#################################################
# Library - Custom Logger
#################################################

### Jetbrain Software
# IntelliJ IDEA
.idea

### Package Dependency Manager
# NodeJS
node_modules
package-lock.json

### Other files
# Mac OSX project files
.DS_Store

# Build process files
lib
