#################################################
# Library - Custom Logger
#################################################

### Jetbrain Software
# IntelliJ IDEA
.idea

### Package Dependency Manager
# NodeJS
node_modules
package-lock.json
